html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    box-sizing: border-box;
}
.section-title{
    color: white;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    
    padding: 6% 10%;
}
.section-title-h1{
    text-transform: uppercase;
    font-size: 70px;
    font-family: sans-serif;
    font-weight: bolder;
    white-space: 2px;
    margin: 24px 0;

}
.section-title-p{
    font-size: 25px;
    font-family: sans-serif;
    line-height: 29px;

}
.card{
    border: 0px solid black;
    margin-bottom: 80px;
    transition: .5s;
    background: #e8631c;

}
.card:hover{
    transform: scale(1.1);
}
.card-body{
    /* background: #303030; */
    color: white;
    text-align: center;

}
.card-title{
    text-transform: uppercase;
    font-size: 35px;
    
}
.card-p{
    font-size: 20px;
}
/* ***************header-part***************** */
header{

}
/* ********************navigation-part********************* */
.navbar{
    background: #303030;
    position: fixed;
    z-index: 1;


}
.navbar-brand img{
    width: 90%;

}
.navbar-nav{

}
.nav-item{

}
.nav-link{
    margin: 0 20px;

}
.nav-link:hover{
    background: black;
    border-radius: 10px;
}
.form-control{

}
/* =============hero============= */
#hero{
    background: url(./img/Musicology1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 890px;
}
.hero-h1{
    font-size: 95px;
    font-family: serif;


}
.hero-p{
    font-size: 24px;
    line-height: 26px;
    font-family: sans-serif;
}
.hero-body button{
    background: #e8631c;
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.418);
}
.hero-body button:hover{
    background-color: rgb(223, 97, 7);
    
}
/* ================hero-end============ */

/* ================dance-tour============ */

#dance-tour{
    background: #e8631c;
}
.bg1{
    background: url(./img/bg1.png);
}
/* ================dance-tour-end============== */
/* ==================pricing============= */

#pricing-part{
    background: #303030;
}
.pricing-img{
    width: 60%;
}
/* ===============pricing-end=========== */

/* =================amazing-dance-part============= */
#amazing-dance-part{
    background: #e8631c;

}
.img-amazing{
    
}
.img-amazing img{

}
.wtn-iner{
    

}
.iner-h1{
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.iner-p{
    
    line-height: 25px;
    margin-bottom: 35px;
    font-size: 25px;
}
.wtn-iner button{
    background: #303030;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    padding: 5px 50px;
    box-shadow: 5px 5px 5px  #1110107e;
}
.wtn-iner button:hover{
    background: black;
}
/* =====================best-dance-part============= */

#best-dance-part{
    background: #e8631c;
}
/* =================statictes============ */
#statistics-part-one{
    background: #303030;
    height: 550px;
}
/* ===============statistics-two========= */
#statistics-part-two{
    background: url(./img/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
}
.statistics-two{
    color: white;
    width: 65%;
    margin: auto;

}
.statistics-two p{
    font-size: 35px;
    line-height: 43px;

}
.statistics-two h1{
    width: 50%;
    margin: 29px auto;
    font-size: 45px;
    font-family: fantasy;
    letter-spacing: 2px;

}


/* ========================subscribe-part=================== */


#subscribe-part{
    background: #e8631c;
}
.input{
    margin: 44px;

}
.email{text-transform: capitalize;font-size: 22px;padding: 9px 37px; width: 70%;}
.submit{

background: #303030;

text-transform: capitalize;

font-size: 22px;

padding: 9px 10px;

color: white;
position: relative;
right: 4px;
}
/* ====================footer-part================ */
#footer-part{
    background: #303030;
    color: white;
}
.musicology h1{
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 30px;

}
.musicology p{
    width: 78%;
    font-size: 20px;

}
.musicology i{
    border-radius: 50%;
    background: white;
    color: black;
    margin: 5px;
    padding: 9px;

}
.about{

}
.about h1{
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 30px;

}
.about a{
    color: white;
}
.about p{
    text-transform: capitalize;
    margin: 2px;
    font-size: 20px;
    


}



/* ==============media=============== */
/* ====================sm================== */
@media (min-width:300px) and (max-width:576px) {
    .navbar{
        width: 100%;
    }
    .card{
        width: 70%;
        margin: 10px auto;
    }
    .hero-body{
        text-align: center;
    }
    .about{
        text-align: center;
    }
}


/* ==========medium======== */
@media (min-width:577px) and (max-width:768px) {
    .navbar{
        width: 100%;
    }
    .navbar-brand img{
        width: 100%;

    }
    .nav-link{
        margin: 5px;
    
    }
    .navbar-nav{

    }
    
    .card{
        width: 70%;
        margin: 10px auto;
    }
    .card-p{
        width: 60%;
        margin:  5px auto;
    }
    .hero-body{
        text-align: center;
    }
    .pricing-img{
        width: 30%;
    }
    .about{
        text-align: center;
    }
}
/* ====================larg================ */
@media (min-width:769px) and (max-width:992px) {
    .navbar{
        width: 100%;
    }
    .nav-link{
        margin: 5px;
    }
    .navbar-brand img{
        width: 100%;
    }
    .card{
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
    }
    .pricing-img{
        width: 50%;
    }
}
.img-amazing img{
    width: 100%;

}
.wtn-iner{

    width: 80%;
    margin: 100px 00px;
}

/* ============extra-larg=================== */
@media (min-width:993px) and (max-width:1200px) {
    .navbar{
        width: 100%;
    }
}
/* ==========xxlarg======== */


@media (min-width:1201px) and (max-width:1400px) {
    .navbar{
        width: 100%;
    }
}